name: DevelopCI/CDpipeline

on: [push]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
    - name: check out pythonfile
      uses: actions/checkout@main

    - name: run the script
      run: python hello.py

  build:
    needs: Test
    runs-on: ubuntu-latest
    steps:
    - name: upload artifact
      uses: actions/checkout@main
    - name: upload artifactory
      uses: actions/upload-artifact@main 
      with:
        path: .
        artifact_name: Crazy
